* { overflow-y: hidden !important; overflow-x: hidden !important; }

ion-header {
  background-color: rgb(244, 242, 242);
}

ion-toolbar {
  --background: none;
  background-color: orange !important;
  height: 70px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

ion-title {
  position: relative;
  font-size: 35px;
  color: white;
  margin-top: 10px;
}

ion-content {
  --background: rgb(244, 242, 242);
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  border: 3px solid orange;
}

.card-botao {
  margin-right: 15px;
  color: orange;
}

ion-col {
  text-align: center;
}

.parceiros-logo {
  width: 65px;
  height: 65px;
}










ion-tab-bar {
  background-color: orange;
  font-size: 25px;
}

.tab {
  background-color: orange;
  color: white;
}

.tab-camera {
  border-radius: 15px;
}


#camera {
  color: orange;
  border-radius: 10px;
}


